@import "./../../styles/content.scss";

.container {
	transition: transform 1s, opacity 1s;

	position: relative;
	&:hover,
	&:focus-within {
		.contentInner {
			opacity: 1;
		}

		.image {
			filter: brightness(40%);
		}

		.hoverHintContainer {
			animation-play-state: running;
		}
	}
}

.notInView {
	transform: translateY(100px);
	opacity: 0;
}
.inView {
	transform: translateY(0);
	opacity: 1;
}

$borderRadius: 15px;
.project {
	position: relative;
	transition: transform 1s, opacity 1s;
	margin: 3vh 0;
	min-height: 0;
	border-radius: $borderRadius;
	overflow: hidden;
}

.contentInner {
	width: 100%;
	height: 100%;

	opacity: 0;
	position: absolute;
	z-index: 2;
	backdrop-filter: blur(10px);
	transition: opacity 0.3s;

	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 40px 55px;
}

.contentTitle {
	font-size: clamp(1.25rem, 4vw, 1.7rem);
	margin: 0 0;
	width: 100%;
}

.description {
	font-size: clamp(1rem, 3vw, 1.4rem);
	margin-top: 25px;
	letter-spacing: 0.05em;
}

.technologiesAndLinks {
	margin-top: auto;
	display: flex;
	gap: 5px;
	justify-content: space-between;
	align-items: center;
	font-size: clamp(0.7rem, 3.4vw, 1.25rem);
}

.technologies {
	word-spacing: 1em;
	line-height: 1.5em;
	font-family: monospace;
}

.links {
	display: flex;
	flex-direction: row;
	align-items: center;

	gap: 20px;
}

.image {
	flex-shrink: 0;
	position: relative;
	width: 100%;
	border-radius: $borderRadius;

	display: inline-flex;
	flex-direction: column;
	justify-content: center;

	transition: filter 0.5s;
}

@media (hover: none) or (prefers-reduced-motion) {
	.image {
		filter: brightness(40%);
	}

	.contentInner {
		opacity: 1 !important;
	}
}

@media (prefers-reduced-motion) {
	.notInView {
		transform: translateY(0);
		opacity: 1;
	}
}

@media only screen and (max-width: 768px) {
	.description {
		margin-top: 15px;
	}

	.image {
		width: 230%;
	}

	.contentInner {
		padding: 20px 30px !important;
	}
}

.animationContainer {
	opacity: 0;
	animation: hoverHintFadeIn 6s ease-in-out 3s 1 normal forwards;
	display: flex;
	flex-direction: row;
	align-items: center;
}

@keyframes hoverHintFadeIn {
	from {
		opacity: 0;
	}
	12% {
		opacity: 1;
	}
	88% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.hoverHintContainer {
	z-index: 4;
	position: absolute;
	left: 95%;
	top: 50%;
	translate: 0 -50%;
	font-size: 1rem;
	animation: fadeOutAnimation 0.3s ease-in-out 0s 1 normal forwards;
	animation-play-state: paused;

	&:hover {
		animation-play-state: running;
	}
}

@keyframes fadeOutAnimation {
	to {
		opacity: 0;
		visibility: hidden;
	}
}

$hoverHintColor: rgba(20, 20, 20, 0.7);
.triangle {
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-right: 5px solid $hoverHintColor;
}

.hoverHint {
	width: 6.5rem;
	font-family: Heebo;
	padding: 8px;
	border-radius: 5px;
	text-align: center;
	background-color: $hoverHintColor;
	flex-grow: 1;
}
