@import './../../styles/content.scss';

$blurRadius: 15px;

.project {
  position: relative;
  transition: transform 1s, opacity 1s;
  margin: 3vh 0;
  min-height: 0;
  border-radius: $blurRadius;
  overflow: hidden;

  .contentInner {
    width: 100%;
    height: 100%;
    padding: $blurRadius;
    transform: translate(-$blurRadius, -$blurRadius);

    opacity: 0;
    border-radius: $blurRadius;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(10px);
    transition: opacity 0.3s;
  }
  
  $vPadding: 40px;
  $hPadding: 55px;
  .contentInnerInner {
    height: calc(100% - 2*$vPadding);
    display: flex;
    flex-direction: column;
    padding: $vPadding $hPadding;
  }

  .contentTitle {
    font-size: clamp(20px, 4vw, 27px);
    margin: 0 0;
    width: 100%;
  }

  .description {
    margin-top: 30px;
    font-size: clamp(17px, 3vw, 20px);
    letter-spacing: 0.05em;
  }

  .technologiesAndLinks {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
  }

  .technologies {
    word-spacing: 1em;
    line-height: 1.5em;
    font-family: monospace;
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 20px;
  }

  &:hover {
    .contentInner {
      opacity: 1;
    }

    .image {
      filter: brightness(40%);
    }
  }
}

.image {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  border-radius: $blurRadius;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  transition: filter 0.5s;
}



$vPaddingMobile: 20px;
$hPaddingMobile: 30px;
@media only screen and (max-width: 768px) {
  .image {
    width: 200%;
  }

  .contentInnerInner {
    height: calc(100% - 2*$vPaddingMobile) !important;
    padding: $vPaddingMobile $hPaddingMobile !important;
  }  

  .contentInner {
    opacity: 1 !important;
  }

  .image {
    filter: brightness(40%);
  }
}
