@import "./../../styles/content.scss";

.projects {
	max-width: 75rem; // 1200px
	margin-bottom: 0;
}

.line {
	max-width: 18.75rem; // 300px
}

.projectsContainer {
	display: flex;
	flex-direction: column;
}

.project {
	align-self: flex-start;
	position: relative;

	&:nth-child(even) {
		align-self: flex-end;
	}
}
