.button {
	display: inline-block;

	padding: 10px 20px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;

	background-size: 205%;
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-blend-mode: overlay;
}

@media (prefers-reduced-motion: no-preference) {
	.button {
		transition: background-position 0.3s, color 0.3s, transform 0.1s;

		&:hover {
			background-position: 0 0;
			color: var(--backgroundBlack) !important;
		}

		&:active {
			transform: translateY(2px);
		}
	}
}

@media (prefers-reduced-motion) {
	.button {
		&:focus,
		&:active,
		&:target {
			outline: 1px solid white;
		}
	}
}
