:root {
	--backgroundBlack: rgb(25, 25, 29);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	min-height: 100vh;
	background-color: var(--backgroundBlack);
}

* {
	box-sizing: border-box;

	&::selection {
		background: rgba(186, 186, 219, 0.26);
	}
}

ul,
ol {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: inherit;
	font-weight: inherit;

	&:hover {
		cursor: pointer;
	}
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: var(--backgroundBlack);
}
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@media (prefers-reduced-motion) {
	* {
		transition: none !important;
		animation: none !important;
	}
}
