.main {
  min-height: 100vh;
  max-width: 1000px;
  margin: auto;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  
  color: rgb(182, 182, 182);
  font-family: 'Heebo';

  opacity: 0;
  animation: fadeIn 1s ease-in-out 0s 1 normal forwards;
}

.hi {
  margin: 0;

  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 0s 1 normal forwards;
}

.name {
  font-family: 'Heebo';
  font-weight: 700;
  font-size: clamp(50px, 8vw, 100px);
  margin: 0;

  background-color: red;
  
  background-size: 1000%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  opacity: 0;
  animation: movingGradient 20s ease-in-out 0s infinite alternate, fadeIn 0.5s ease-in-out 0.2s 1 normal forwards;
}

@keyframes movingGradient {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 80em 0;
  }
}

.tagline {
  margin: 0;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 0.4s 1 normal forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

