@import './../../styles/content.scss';

.about {
  display: flex;
  gap: 20px;
  flex-direction: row;
  margin: 0px auto;
  align-items: center;
  max-width: 900px;
}

.image {
  flex-shrink: 0;
  position: relative;
  width: 300px;
  border-radius: 10px;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  &:hover {
    background-color: rgba(0,0,0,0) !important;

    img {
      filter: none !important;
      mix-blend-mode: unset !important;
    }
  }
}

.technologies {
  font-family: monospace;
  word-spacing: 1em;
}