@import "./../../styles/content.scss";

.about {
	display: flex;
	gap: 20px;
	flex-direction: row;
	margin: 0 auto;
	align-items: center;
	max-width: min(80vw, 68.75rem);

	p:first-child {
		margin-top: 0;
	}
}

.image {
	flex-shrink: 0;
	position: relative;
	width: min(25vw, 28.125rem);
	border-radius: 10px;

	display: inline-flex;
	flex-direction: column;
	justify-content: center;

	&:hover {
		background-color: rgba(0, 0, 0, 0) !important;

		img {
			filter: none !important;
			mix-blend-mode: unset !important;
		}
	}
}

.technologies {
	font-family: monospace;
	word-spacing: 1em;
}

@media only screen and (max-width: 768px) {
	.about {
		flex-direction: column;
	}

	.image {
		width: 100%;
	}
}
