.mainContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 50px;

  position: fixed;
  left: 15px;
  bottom: 0px;

  border-radius: 25px;
}

.line {
  height: 50px;
  border-left: 1px solid red;

  transform: translate(50%, 50%);
  opacity: 0;
  animation: lineEntry 0.4s ease-out 0s 1 normal forwards;
}

.iconsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px 20px 10px 20px;
}

.icons {
  padding: 0;

  transition: 0.3s ease;
  transform: translateY(80%);
  opacity: 0;

  animation: entry 0.4s ease-out 0s 1 normal forwards;

  &:hover {
    transform: translateY(-1px) !important;
  }
}



@keyframes entry {
  to {
    transform: scale(0.9);
    opacity: 1;
  }
}

@keyframes lineEntry {
  to {
    transform: translate(50%, 0);
    opacity: 1;
  }
}



@media only screen and (max-width: 768px) {
  .mainContainer {
    position: relative;
    width: unset;
    left: unset;
    bottom: unset;
    padding-bottom: 15px;
  }

  .iconsContainer {
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }

  .line {
    display: none;
  }
}
